body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* page-header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
}

.page-header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-header .logo-link {
  margin-right: 76px;
}

.logo {
  color: #2e2f42;
}

.page-header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.page-header-link {
  display: inline-block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
}

.page-header-link:hover,
.page-header-info-link:hover,
.page-header-link:focus,
.page-header-info-link:focus {
  color: #404bbf;
}

.page-header-info {
  font-style: normal;
  margin-left: auto;
}

.page-header-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.page-header-info-link {
  display: inline-block;
  padding: 24px 0;
}

/* hero */
.section {
  padding: 120px 0;
}

.hero {
  padding: 188px 0;
  background-color: #2e2f42;
}

.page-title {
  margin: 0 auto 48px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* features */
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* our-team */
.our-team {
  background-color: #f4f4fd;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.our-team-item {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.our-team-inner {
  padding: 32px 0;
  text-align: center;
}

/* our-portfolio */
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-item {
  width: calc((100% - 48px) / 3);
}

.our-portfolio-inner {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* page-footer */
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.page-footer .logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer .text {
  max-width: 264px;
}

.page-footer .text,
.page-footer .logo {
  color: #f4f4fd;
}
